<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>有赞币答-你点赞，我来答。为你的劳动买单</title>
    <meta name="description" content="有赞币答是最搞笑的内容集中地，图文、段子、吐槽，应有尽有"/>
    <meta name="keywords" content="有赞，币答，搞笑，图文，段子，吐槽，热点"/>
    <meta name="HandheldFriendly" content="True"/>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/screen.css" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <span class="hide">YZBD</span>
                    最内涵的段子---就是逗你玩
                </h1>
            </div>
        </div>
    </div>
</header>
<section class="content-wrap-cate">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article class="post">
                    <div class="post-head">
                        <div class="post-user-image">
                            <div>
                                <a class="user-link" href="/user/info/123">
                                    <img class="post-user-avatar" src="https://pic1.zhimg.com/50/da8e974dc_s.jpg" alt=""/>
                                </a>
                            </div>
                        </div>
                        <div class="post-meta">
                            <span class="author">
                                作者：<a href="/user/1">name</a>
                            </span>发布于：<time class="post-date" datetime="2017年7月11日" title="2017年7月11日">2017年7月11日</time>
                            <span><div class="pull-right">分类：<span>图文</span></div></span>
                        </div>
                    </div>
                    <div class="post-content">
                        <h2>哪个瞬间起你接受了这个世界的黑暗面？</h2>
                        <p>昨日发布了，中印边界爆发局部冲突</p>
                        <div class="post-permalink">
                            <a href="/art/123">查看更多</a>
                        </div>
                        <div class="featured-media">
                            <div class="media-left">
                                <a href="/art/123">
                                    <img src="http://image.golaravel.com/f/48/7a406073b512ef16a891127824c7b.jpg" alt="123"/>
                                </a>
                            </div>
                            <div class="media-left">
                                <a href="/art/123">
                                    <img src="http://image.golaravel.com/f/48/7a406073b512ef16a891127824c7b.jpg" alt="123"/>
                                </a>
                            </div>
                            <div class="media-left">
                                <a href="/art/123">
                                    <img src="http://image.golaravel.com/f/48/7a406073b512ef16a891127824c7b.jpg" alt="123"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-relative-info">
                        <span><i class="fa fa-thumbs-o-up clickable" title="点赞"></i><span>55</span></span>
                        <span><i class="fa fa-thumbs-o-down clickable" title="踩"><span>66</span></i></span>
                        <span><i class="fa fa-share-alt clickable" title="分享"> <span>77</span></i></span>
                        <span><i class="fa fa-comment-o clickable" title="评论"><span>80</span></i></span>
                        <span><i class="fa fa-eye " title="查看"> <span>90</span></i></span>
                    </div>
                    <footer class="post-footer clearfix"></footer>
                </article>
                <ul class="pagination" role="navigation">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </main>
            <aside class="col-md-4 sidebar">
                <div class="widget">
                    <h4 clas="title">个人中心</h4>
                    <div class="content community">
                        <p>QQ群：154304393</p>
                        <p><a href="/admin" title="个人中心"><i class="fa fa-comments">个人中心</i></a></p>
                    </div>
                </div>
                <div class="widget">
                    <h4 clas="title">个人中心</h4>
                    <div class="content community">
                        <p>QQ群：154304393</p>
                        <p><a href="/admin" title="个人中心"><i class="fa fa-comments">个人中心</i></a></p>
                    </div>
                </div>
                <div class="widget">
                    <h4 clas="title">个人中心</h4>
                    <div class="content community">
                        <p>QQ群：154304393</p>
                        <p><a href="/admin" title="个人中心"><i class="fa fa-comments">个人中心</i></a></p>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<footer class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright ©<a href="/">有赞币答</a></span>|
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备11008151号</a></span>|
                <span>京公网安备11010802014853</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>